altgraph==0.17.2
auto-py-to-exe==2.18.2
bottle==0.12.19
bottle-websocket==0.2.9
cffi==1.15.0
click==8.1.2
colorama==0.4.4
Eel==0.12.4
Flask==2.1.1
flaskwebgui==0.3.5
future==0.18.2
gevent==21.12.0
gevent-websocket==0.10.1
greenlet==1.1.2
gunicorn==20.1.0
importlib-metadata==4.11.3
itsdangerous==2.1.2
Jinja2==3.1.1
MarkupSafe==2.1.1
numpy==1.21.0
pandas==1.2.5
pefile==2021.9.3
pycparser==2.21
pyinstaller==4.10
pyinstaller-hooks-contrib==2022.3
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
PyQt5Designer==5.14.1
python-dateutil==2.8.1
pytz==2021.1
pywin32-ctypes==0.2.0
scipy==1.7.0
six==1.16.0
Werkzeug==2.1.1
whichcraft==0.6.1
zipp==3.8.0
zope.event==4.5.0
zope.interface==5.4.0
